.responsive-video-poster, responsive-video-poster, .rvp-poster, .rvp-video {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.responsive-video-poster, responsive-video-poster {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

  .rvp-placeholder {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 40;
    cursor: pointer;
    transition: all .4s ease-in;

    /* Reset default button styles */
    padding: 0;
    background: none;
    border: 0;

    .is-anim & {
      opacity: 0;
    }

    .is-active & {
      display: none;
    }

    &:not(:has(.rvp-poster)) {
      background: radial-gradient(circle, #28d1b4 10%, #0157ff 80%);
    }
  }

    .rvp-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      padding: 16px;
      font-size: 2rem;
      color: #fff;
      border-radius: 50%;
      background: #0157ff;
      border: 2px solid #fff;
      transition: all .3s; 
      pointer-events: none;

      :hover > & {
        background: #0034a3;
      }
    }

      .rvp-button-icon {
        width: 1em;
        height: 1em;
        fill: currentColor;
        stroke: currentColor;
        translate: 2px 0;
      }


      .rvp-poster {

      }

      /* If the poster image is not the same size as the video these classes can be used to fill the space */
      .rvp-poster--cover, .rvp-poster--contain {
        width: 100%;
        height: 100%;
      }

      .rvp-poster--cover {
        object-fit: cover;
      }

      .rvp-poster--contain {
        object-fit: contain;
      }


  .rvp-video {
    border: 0;
    aspect-ratio: inherit;
    background: #000;
  }
  